*{
     font-family: 'Luckiest Guy', cursive;
}
img{
     max-width: 50%;
     position: absolute;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
     z-index: -1;
}

body{
     background-color: #1c6e16;
     overflow: hidden;
}

.links li{
     list-style-type: none;
     font-size: 70px;
     padding: 20px 0 20px 0;
}

.links a{
     text-decoration: none;
     color: white;
     text-shadow: 2px 2px 3px #70ec67;
}

.left{
     position: absolute;
     left: 0px;
     transform: translateX(65%);
     top: 50%;
}

.right{
     position: absolute;
     right: 0px;
     transform: translateX(-65%);
     top: 50%;
}

.main{
     color: white;
     text-shadow: 2px 2px 3px #70ec67;
     position: absolute;
     font-size: 100px;
     left: 50%;;
     transform: translateX(-50%);
     z-index: 1;
}